@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
        url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

